.btn {
  height: 30px;
  width: 30px;
  border: 1px solid var(--dark-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--light-accent);
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.btn-submit {
  width: fit-content;
  margin-top: 20px;
  padding: 1px 6px;
}
