@font-face {
  font-family: 'Bravura Text';
  font-style: regular;
  src: local('Bravura Text'), url(./fonts/BravuraText.otf) format('opentype');
}

*::after,
*::before,
* {
  box-sizing: border-box;
}

:root {
  --lighter-green: #b4e1c6;
  --light-text: #e3e3e4;
  --accent: #04a97b;
  --dark-green: #404142;
  --darker-green: #283241;
}

html {
  font-size: 16px;
  font-family: 'Urbanist', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 8px;
  background-color: var(--darker-green);
  color: var(--light-text);
}

.title,
.section-heading {
  font-weight: 400;
}

.music-notation {
  font-family: 'Bravura Text';
  font-size: 48px;
  margin: 2rem;
}

.svg {
  fill: none;
  width: 2rem;
  height: auto;
}

.svg:focus,
.btn:focus,
a:focus {
  outline-color: var(--accent);
  outline-style: solid;
  outline-width: 0.1rem;
}

.svg > path {
  stroke: var(--lighter-green);
}

.valves {
  display: flex;
  margin: 1rem;
  gap: 0.5rem;
  align-items: center;
}

.valves:has(#slide) {
  flex-direction: column;
}

.selected {
  fill: var(--lighter-green);
}

a {
  color: var(--accent);
  text-decoration: none;
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.link {
  border: 1px solid var(--accent);
  background-color: var(--dark-green);
  opacity: 0.9;
  border-radius: 100px;
  padding: 1rem;
}

.container {
  width: 75%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link--navigate {
  padding: 1rem;
}
