@font-face {
  font-family: 'Bravura Text';
  font-style: normal;
  src: local('Bravura Text'), url(./fonts/BravuraText.otf) format('opentype');
}

*::after,
*::before,
* {
  box-sizing: border-box;
}

:root {
  --light-primary: #dee1e7;
  --light-secondary: #b5c5d7;
  --light-accent: #70b2bc;
  --dark-accent: #4d5871;
  --dark-primary: #39393f;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  margin: 8px;
}

.music-notation {
  font-family: 'Bravura Text';
  font-size: 48px;
}

.svg {
  fill: none;
  width: 2rem;
  height: auto;
}

.valves {
  display: flex;
  margin-top: 1.25rem;
  gap: 0.5rem;
  align-items: center;
}

.selected {
  fill: var(--light-accent);
}
